<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tesis</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123</property>
    <property name="show_sql">true</property>
    <mapping resource="model/mapping/ComprobantesTraslados.hbm.xml"/>
    <mapping resource="model/mapping/RegistrosUnicos.hbm.xml"/>
    <mapping resource="model/mapping/DepartamentosAcademicos.hbm.xml"/>
    <mapping resource="model/mapping/Estados.hbm.xml"/>
    <mapping resource="model/mapping/Solicitudes.hbm.xml"/>
    <mapping resource="model/mapping/ExpedientesSolicitudes.hbm.xml"/>
    <mapping resource="model/mapping/ActividadDocentes.hbm.xml"/>
    <mapping resource="model/mapping/Sedes.hbm.xml"/>
    <mapping resource="model/mapping/Designaciones.hbm.xml"/>
    <mapping resource="model/mapping/Comprobantes.hbm.xml"/>
    <mapping resource="model/mapping/Docentes.hbm.xml"/>
    <mapping resource="model/mapping/Areas.hbm.xml"/>
    <mapping resource="model/mapping/Liquidaciones.hbm.xml"/>
    <mapping resource="model/mapping/Expedientes.hbm.xml"/>
    <mapping resource="model/mapping/Usuarios.hbm.xml"/>
    <mapping resource="model/mapping/ComprobantesComidaAlojamientos.hbm.xml"/>
    <mapping resource="kakan/ComprobantesComidaAlojamientos.hbm.xml"/>
    <mapping resource="kakan/Estados.hbm.xml"/>
    <mapping resource="kakan/Usuarios.hbm.xml"/>
    <mapping resource="kakan/ComprobantesTraslados.hbm.xml"/>
    <mapping resource="kakan/Designaciones.hbm.xml"/>
    <mapping resource="kakan/RegistrosUnicos.hbm.xml"/>
    <mapping resource="kakan/DepartamentosAcademicos.hbm.xml"/>
    <mapping resource="kakan/Areas.hbm.xml"/>
    <mapping resource="kakan/Solicitudes.hbm.xml"/>
    <mapping resource="kakan/ExpedientesSolicitudes.hbm.xml"/>
    <mapping resource="kakan/Comprobantes.hbm.xml"/>
    <mapping resource="kakan/Liquidaciones.hbm.xml"/>
    <mapping resource="kakan/Sedes.hbm.xml"/>
    <mapping resource="kakan/Docentes.hbm.xml"/>
    <mapping resource="kakan/ActividadDocentes.hbm.xml"/>
    <mapping resource="kakan/Expedientes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
